# Create an application to obtain credentials at
# https://developer.paypal.com/dashboard/applications/sandbox

PAYPAL_CLIENT_ID="AQ5SsejIbeRNrbJICm82ajB-Cnpcz4ToxrhZez7ustYaaXPh4FlmGfQa_mKeKX4i6LkH88-mPHk-p_zJ"
PAYPAL_CLIENT_SECRET="EBITQ9rX_bi4LRY1xOqHVEAy8CoVAQ_lFo-zwVHprq0GtSrUSx7sXroeoe_kRkz2FQ44E88zLitIGhz7"
